{% include "store/base.html" %}

{% load static %}


{% block content %}

<style>
    body{

        background-color: gray;
    }

</style>

<body>

    <br>

    <div class="container bg-white shadow-md p-5 text-center">

        <div class="text-center">
            <i class="fa fa-check fa-3x text-success" aria-hidden="true"></i>
        </div>

        <h1>Tài khoản của bạn hiện đã được xác minh!</h1>

        <hr>

        <p>Vui lòng tiến hành đăng nhập.</p>
        
    </div>

</body>


{% endblock %}